{% extends "fishing/base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h2>Kontakt</h2>
                <p class="lead">Telefon: {{ contact.phone }}</p>
                <p class="lead">Adres: {{ contact.adres }}</p>
                <p class="lead">E-mail: {{ contact.mail }}</p>
                <p class="lead">NIP: {{ contact.nip }}</p>
            </div>
        </div>
    </div>
</div> <!-- End of Jumbotron -->

 {% endblock %} 
