{% extends "fishing/base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h2>Kontakt</h2>
                <p class="lead">Telefon: XXX XXX XXX</p>
                <p class="lead">Adres: XXX XXX XXX</p>
                <p class="lead">E-mail: XXX XXX XXX</p>
                <p class="lead">NIP: XXX XXX XXX</p>
            </div>
        </div>
    </div>
</div> <!-- End of Jumbotron -->

 {% endblock %} 
